<html>
    <style>
        textarea {
            resize: none;
        }       
    </style>
    <head>
        <title>
            {% block title %} {% endblock %}
        </title>

        {% load static %}
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        <link rel="icon" href="/media/favicon.png" sizes="32x32" type="image/png">       
    </head>
    <body class="bg-secondary">
        {% block content %} {% endblock %}
    </body>
</html>