{% extends "base.html" %}
{% block title %} Foto de {{usuario_buscado}} | Cloud Strife {% endblock %}

{% block content %}
    {% include "menu.html" %}
    <div class="container">
        <div class="d-flex flex-column bg-white shadow-sm rounded-lg p-3 mt-4 px-4">
            <div class="d-flex align-items-center my-2">
                <img src="/media/{{datos_perfil_buscado.avatar}}" class="rounded-circle" width="50px" height="50px">
                <h2 class="px-3">{{datos_perfil_buscado.usuario}}</h2>   
            </div>
            <div class="container mx-5 mt-2">
                <img src="/media/{{foto_perfil_buscado.foto}}" width="200px" height="200px">
                <h3>{{foto_perfil_buscado.titulo}}</h3>
                <p>{{foto_perfil_buscado.fecha}}</p>
                <form method="POST" action="">
                    {% csrf_token %}
                    <textarea name="comentario" rows="4" cols= "40" required style="resize: none;"></textarea>
                    <input type="submit" value="Comenta" class="btn btn-outline-dark d-block mt-2">
                </form>
                {% if comentarios %}
                    {% for comentario in comentarios %}
                        <h4>{{comentario.usuario_creador}}</h4>
                        <p>{{comentario.comentario}}</p> <p>{{comentario.fecha}}</p>
                    {% endfor %}
                {% else %}
                    <p>No hay comentarios</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}