<html>
    <style>
        #barra {
            margin: 0;
            padding: 0;
            list-style: none;
            text-transform: uppercase;
        }

        #barra li {
            display: inline;
            margin: 0 20px;
        }
        
    </style>
    <body>
        <ul id="barra" class="p-2 navbar navbar-default navbar-fixed-top bg-dark">
            <li><a href="{% url 'usuario' usuario %}" class="text-decoration-none text-white">Inicio</a></li>
            <li><a href="{% url 'explorar' usuario %}" class="text-decoration-none text-white">Explorar</a></li>
            <li><a href="{% url 'perfil' usuario %}" class="text-decoration-none text-white">Perfil</a></li>
            <li><a href="{% url 'foto' usuario %}" class="text-decoration-none text-white">Nueva Publicacion</a></li>
            <li><a href="{% url 'buscar' usuario %}" class="text-decoration-none text-white">Buscar</a></li>
            <li><a href="{% url 'login' %}" class="text-decoration-none text-white">Logout</a></li>
        </ul>
    </body>
</html>