{% extends "base.html" %}
{% block title %} Perfil de {{usuario_buscado}} | Cloud Strife {% endblock %}

{% block content %}
    {% include "menu.html" %}
    <div class="container">
        <div class="d-flex flex-column bg-white shadow-sm rounded-lg p-3 mt-4">
            <div class="d-flex flex-column">            
                <div class="d-flex flex-row my-3">
                    <img src="/media/{{datos_perfil_buscado.avatar}}" class="rounded-circle" width="150px" height="150px">
                    <div class="contenedor-perfil my-auto ml-4">
                        <h2>{{datos_perfil_buscado.usuario}}</h2>
                        {% if seguidores == 1 and seguidos == 1 %}
                            <p><a href="{% url 'seguidores_buscados' usuario usuario_buscado %}" class="mr-4 text-decoration-none text-dark">{{seguidores}} seguidor</a> <a href="{% url 'seguidos_buscados' usuario usuario_buscado %}" class="text-decoration-none text-dark">{{seguidos}} seguido</a></p>
                        {% elif seguidores != 1 and seguidos == 1 %}
                            <p><a href="{% url 'seguidores_buscados' usuario usuario_buscado %}" class="mr-4 text-decoration-none text-dark">{{seguidores}} seguidores</a> <a href="{% url 'seguidos_buscados' usuario usuario_buscado %}" class="text-decoration-none text-dark">{{seguidos}} seguido</a></p>
                        {% elif seguidores != 1 and seguidos != 1 %}
                            <p><a href="{% url 'seguidores_buscados' usuario usuario_buscado %}" class="mr-4 text-decoration-none text-dark">{{seguidores}} seguidores</a> <a href="{% url 'seguidos_buscados' usuario usuario_buscado %}" class="text-decoration-none text-dark">{{seguidos}} seguidos</a></p>
                        {% elif seguidores == 1 and seguidos != 1 %}
                            <p><a href="{% url 'seguidores_buscados' usuario usuario_buscado %}" class="mr-4 text-decoration-none text-dark">{{seguidores}} seguidores</a> <a href="{% url 'seguidos_buscados' usuario usuario_buscado %}" class="text-decoration-none text-dark">{{seguidos}} seguidos</a></p>
                        {% endif %}
                    {% if relacion_seguidor %}
                        <form method="POST" action="">
                            {% csrf_token %}
                            <input type="hidden" name="seguido" value="1">
                            <input type="submit" value="Dejar de seguir" class="btn btn-dark">
                        </form>
                    {% else %}
                        <form method="POST" action="">
                            {% csrf_token %}
                            <input type="hidden" name="seguido" value="0">
                            <input type="submit" value="Seguir" class="btn btn-outline-dark">
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="text-center">
                {% if fotos_perfil_buscado %}    
                    {% for foto in fotos_perfil_buscado %}
                        <a href="{% url 'foto_perfil_buscado' usuario usuario_buscado foto.id %}">
                            <img src="/media/{{foto.foto}}" width="250px" height="250px">
                        </a>
                    {% endfor %}
                {% else %}
                    <p>Aún no has subido ninguna foto</p>
                    <img src="/media/emoji_sad.png" width="300px" height="300px">                    
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}