{% extends "base.html" %}

{% block title %} Perfil | Cloud Strife {% endblock %}

{% block content %}
    {% include "menu.html" %}
    <div>
        <img src="/media/{{datos_perfil.avatar}}" width="200px">
        <h2>{{datos_perfil.usuario}}</h2>
        {% if datos_perfil.biografia %}
            <p>{{datos_perfil.biografia}}</p>
        {% endif %}
        <a href="{% url 'preferencias' usuario %}">Editar Perfil</a>
    </div>
    {% if fotos %}    
        {% for foto in fotos %}
            <a href="{% url 'comentarios' usuario foto.id %}">
                <img src="/media/{{foto.foto}}" width="250px" height="250px">
            </a>
        {% endfor %}
    {% else %}
        <img src="/media/emoji_sad.png" width="400px" height="400px">
        <p>Aún no has subido ninguna foto</p>
    {% endif %}
{% endblock %}