{% extends "base.html" %}

{% block title %} Seguidores de {{usuario_buscado}} | Cloud Strife {% endblock %}

{% block content %}
    {% include "menu.html" %}
    <div class="container">
        <div class="d-flex flex-column bg-white shadow-sm rounded-lg p-3 mt-4">
        {% if seguidores %}
            <h2>Seguidores de {{usuario_buscado}}</h2>
            {% for seguidor in seguidores %}
                <div class="d-flex align-items-center my-2">
                    <img src="/media/{{seguidor.seguidor.avatar}}" class="rounded-circle" width="100px" height="100px">
                    <a href="{% url 'perfil_buscado' usuario seguidor.seguidor.usuario %}" class="px-3 text-decoration-none text-dark"><h3>{{seguidor.seguidor.usuario}}</h3></a>
                </div>        
            {% endfor %}
        {% else %}
            <div class="text-center">
                <h3 class="mb-3">Aún no le ha seguido nadie</h3>
                <img src="/media/emoji_sad.png" width="300px" height="300px">
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}